.app.dark {
    --bg-color: #020255;
    --inverted-bg-color: #dddde5;
    --primary-color: #047604;
    --secondary-color: #03f703;
    --inverted-primary-color: #0a2883;
    --inverted-secondary-color: #328ead;
}
