.app_green_theme {
    --bg-color: #f4fbf8;
    --inverted-bg-color: #25ca82;
    --primary-color: #21a81f;
    --secondary-color: #06e302;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #f4fbf8;
}
